<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-button shape="round" slot="start" routerLink="/login">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title> Estas logeado!</ion-card-title><br>
      <ion-card-subtitle> Bienvenido... </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      En este proyecto pude aprender conceptos de Ionic y conceptos de la autentificacion de Firebase.
    </ion-card-content>
  </ion-card>

</ion-content>
